
<%= simple_form_for(@student, wrapper: :horizontal_input_group,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes
        }) do |f| %>
        <% if flash[:error].present? %>
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <%= flash[:error] %>
          </div>
        <% end %>
  <div class="form-inputs">
    <%= f.input :name, wrapper: :vertical_input_group, hint: "Obrigatório", label: false  do %>
    <span class="input-group-addon">Nome</span>
      <%= f.input_field :name, class: "form-control" %>
    <% end %>

    <%= f.input :register_number, wrapper: :vertical_input_group, hint: "Obrigatório", label: false  do %>
    <span class="input-group-addon">Registro</span>
      <%= f.input_field :register_number, class: "form-control" %>
    <% end %>
    <hr>

    <%= f.input :courses, wrapper: :vertical_input_group do %>
      <%= f.association :courses, as: :check_boxes, class: "form-control", label: false %>
    <% end %>
    <hr>
  </div>

  <div class="btn-group">
    <%= link_to 'Cancelar', students_path, class: 'btn btn-default' %>
    <%= f.button :submit, 'Salvar Estudante', class: 'btn btn-primary' %>
  </div>
<% end %>
