
<%= simple_form_for(@course, wrapper: :horizontal_input_group) do |f| %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:error] %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, wrapper: :vertical_input_group, hint: "Obrigatório", label: false  do %>
    <span class="input-group-addon">Nome</span>
      <%= f.input_field :name, class: "form-control" %>
    <% end %>

    <%= f.input :description, wrapper: :vertical_input_group, label: false  do %>
    <span class="input-group-addon">Descrição</span>
      <%= f.input_field :description, class: "form-control", as: :text %>
    <% end %>

    <hr>
  </div>

  <div class="btn-group">
    <%= link_to 'Cancelar', courses_path, class: 'btn btn-default' %>
    <%= f.button :submit, 'Criar Curso', class: 'btn btn-primary' %>
  </div>
<% end %>
